@import "flexiblegs-stylus"
@import "kevintech"

azul 	= #02518F
gris 	= #D8D8D8
naranja = #FF9900
rojo	= #F02311
verde 	= #25C719
verdegt = #4D8C40

body
	wrap()
	wrap("gutter", 24)
	background lighten( gris, 75% )
	font-family "Quicksand"
	font-size 16px
	height 100%
	margin 0
	padding 0
	width 100%
	
	& > header
		col()
		col( 1, 1 )
		background white
		border-bottom 1px solid azul
		box-shadow( 0 2px 10px gris)
		left 0
		position fixed
		top 0
		z-index 10
		
		nav
			col()
			col(6, 12)
			text-align center
			
			ul
				list-style none
				margin 0
				
				li
					display inline-block
					
					&.active
						a
							color azul
							
							&:after
									color azul
									content "\e5c7"
									font-family "material"
									font-size 1.5em
									left 50%
									margin-left -0.5em
									position absolute
									top 16px
					
					a
						color black
						cursor pointer
						display block
						font-size 24px
						padding 0 0.75em
						position relative
						text-decoration none
					
						.legend
							background verdegt
							border-radius (0.5em)
							color white
							font-size 0
							height 1em
							left 50%
							line-height 1em
							margin-left -70px
							margin-top 1em
							min-width 140px
							padding 0.5em
							position absolute
							top 100%
							z-index 2
							
						&:hover
							color verdegt
							
							& .legend
								font-size 0.5em
			
		.logo
			col()
			col(2, 12)
			background url("/img/infom.png") center no-repeat
			background-size contain
			font-size 0
			height 38px
			margin 5px 0
			padding 0
			
		.user
			col()
			col(4, 12)
			border-left 1px solid gris
			padding 0.3em
			position relative
			
			.avatar
				col()
				col(1, 5)
				color azul
				font-size 36px
				
			.dropdown
				col()
				col(1, 1)
				animation showTop 0.5s ease-in-out
				background white
				border 1px solid gris
				border-radius (0 0 0.4em 0.4em)
				box-shadow (2px 2px 10px gris)
				opacity 1
				overflow hidden
				position absolute
				right 1px
				top 48px;
				
				ul
					list-style none
					margin 0
					max-height 400px
					overflow-y auto
					padding 1em 0 0 0
					
					li
						display block
						
						&.divider
							border-bottom 1px dotted gris
							
						&.divider:last-child
							border-bottom none
							
						&.important
							background lighten(azul, 90%)
							font-weight bold
						
						a
							color black
							cursor pointer
							display block
							padding 0.5em 1.5em
							text-decoration none
							
							&:hover
								background lighten(gris, 75%)
								
							.icon
								margin-right 0.5em
								
						.date
							color darken(gris, 25%)
							display block
							font-size 12px
							margin-top 0.5em

						.detail
							display block
							font-size 12px
								
						.title
							color azul
							display block
				
			.info
				col()
				col(3, 5)
				padding-right 1em
				text-align right
				
				.hi
					color darken(gris, 30%)
					display block
					
				.name
					cursor pointer
					position relative
					
					&:after
						content "\e5c5"
						font-family "material"
						left -1.25em
						position absolute
						top 0
						
					&:hover
						color azul
						text-decoration underline
				
			.notification
				col()
				col(1, 5)
				position relative
				
				.badge
					background rojo
					border-radius (1em)
					color white
					font-size 12px
					font-weight bold
					left 1em
					line-height 1em
					padding 0.25em
					position absolute
					text-align center
					top -0.5em
					width 1em
				
				.icon
					color gris
					cursor pointer
					font-size 24px
					
					&:hover, &.active
						color black
				
			.wrap
				wrap()
		
		.wrap
			wrap()
			wrap("outside", 24)
			
h2
	border-bottom 1px solid gris
	font-size 20px
	margin 0
	padding 0 0 1.5em
	
html
	height 100%
	width 100%
	
.choose-depto
	background-color lighten(azul, 50%)
	box-shadow (2px 2px 6px gris)
	color white
	padding 1em
	
	label
		display block
		
	option
		color black
		
	select
		background-color transparent
		border none
		border-bottom 2px dashed white
		color white
		font-size 16px
		outline none
		width 100%
	
.choose-user
	background white
	box-shadow (2px 2px 6px gris)
	padding 0
	
	.filter
		margin 0 0 0.5em
		padding 0.5em 1em

	.item
		border-bottom 1px dashed gris
		padding 1em 1em 1em 3em
		position relative
		transition all 0.2s linear
		
		&:before
			color gris
			content "\e853"
			font-family "material"
			font-size 2em
			left 0.25em
			position absolute
			top 0.5em
		
		&:last-child
			border-bottom 0
			
		&:hover
			background lighten(azul, 96%)
			cursor pointer
			
		&.selected
			border-radius (0.5em)
			box-shadow( 0 0 0 2px verdegt inset )
			color verdegt !important
			
			&:before
				color verdegt
		
		.job
			display block
			font-size 12px
		
		.user
			display block
			font-weight bold
			
	.title
		color azul
		display block
		font-weight bold
		padding 1em 1em 0.5em

.clear
	clear both
	height 1px
	width 100%
	
.content-article
	
	article
		background-color white
		box-shadow (2px 2px 6px gris)
		padding 1em
		
		.image
			border 2px solid azul
			float right
			margin 0 0 10px 10px
			max-width 25%
			
		.print
			background-color azul
			border 0
			border-radius (1em)
			color white
			cursor pointer
			outline none
			padding 0.5em 1em
			
		.seq
			color verdegt
			display block
			font-size 1.5em
			font-weight bold
			margin-bottom 0.5em

	h2
		border none
		color azul
		font-size 24px
		padding 0 0 1em
		text-transform uppercase
		
	.details
		background lighten(azul, 95%)
		font-size 12px
		margin-top 1em
		padding 1em

		.author
			display block
			margin 0.25em 0
			
			strong, span
				color azul
				
		.date
			display block
			margin 0.25em 0
		
	.messages
		wrap()
		wrap("top")
		border-top 1px dotted gris
		margin-top 2em
		padding-top 1em
		
		h3
			color darken(gris, 25%)
			margin 1em 0
			text-transform uppercase
			
		.chatbox
			background white
			box-shadow (2px 2px 6px gris)

			ul
				list-style none
				margin 0
				max-height 400px
				overflow-y auto
				padding 1em 0 0 0
				
				li
					wrap()
					wrap("top")
					display block
					
					&.me
						text-align right
						
						.avatar
							padding 0.5em 0.5em 0.5em 0
							
						.content
							padding 0.5em 0 0.5em 1em
						
						.msg
							background lighten(azul, 90%)
						
					.avatar
						col()
						col(1, 6)
						color azul
						padding 0.5em 0 0.5em 0.5em
						text-align center
						
						span
							font-size 32px
						
					.content
						col()
						col(5, 6)
						margin 0
						padding 0.5em 1em 0.5em 0
						
					.msg
						background lighten(gris, 50%)
						border-radius( 1em )
						display block
						padding 0.5em 1em
				
					.time
						color darken(gris, 25%)
						display block
						font-size 12px
						text-align right
						padding 0 1em 0 0
						
			.form-inline
				background-color white
				box-shadow(0 3px 5px gris)
				
				.input-field
					border-top 0
					
					input[type="text"]
						background white
						font-size 16px
						min-width 250px
					
				.submit
					border-radius( 1em )
					line-height 1em
					margin 0.5em
					padding 0.5em
					width 2em
			
		.txt
			margin 0
			padding 0.5em 0
			
		.user
			color azul
			display block
			font-weight bold
			margin 0
	
.content-block
	background white
	box-shadow (2px 2px 6px gris)
	padding 1em
	
	h2
		border none
		color azul
		padding 0.5em 0 1.5em
		text-transform uppercase
		
	header
		button
			background white
			border 1px solid gris
			border-radius( 4px )
			box-shadow ( 1px 1px 4px gris )
			color azul
			float right
			margin 0.5em
			padding 0.5em 1.25em
			
		.filter
			background-color lighten(gris, 80%)
			border-radius(0.35em)
			margin-bottom 0.5em
			padding 0.25em 0.5em

.file-upload
	background lighten( gris, 55% )
	border 2px dashed gris
	border-radius( 0.5em )
	margin 1em 0
	padding 1em
	
	.detail
		display block
		margin 0.5em 0 0
	
	.preview
		margin 1em 0 0
		max-width 100%
		
	.title
		color azul
		display block
		font-weight bold
		margin 0 0 0.5em
			
.form-block
	h2
		border-top 1px dashed azul
		margin-top 1.5em
		
		&:first-child
			border-top 0
			margin-top 0
			
	h3
		color darken(gris, 50%)

	input[type="submit"]
		display none
		
	.btn
		background-color azul
		border 0
		border-radius (1em)
		color white
		cursor pointer
		display inline-block
		padding 0.5em 2em
		
	.field-block
		margin 0.5em 0 1em
		
		label
			display block
			padding 0.5em 0
			
			&:after
				content ":"
		
		input[type="date"], input[type="email"], input[type="number"], input[type="password"], input[type="text"], select, textarea
			border 1px solid gris
			border-radius( 4px )
			box-sizing border-box
			box-shadow ( 1px 1px 4px gris )
			margin-bottom 0.5em
			outline none
			resize none
			padding 0.25em 1em
			width 99%
			
		input[readonly]
			background lighten(gris, 70%)
			border none
			
		textarea
			outline none
			padding 1em
			
	.list-detail
		list-style none
		margin 0
		padding 1em 0
		
		&.numbered
			list-style decimal
		
		li
			border-bottom 1px dotted gris
			display block
			padding 0.5em 0
			
			.button
				background azul
				border 0
				color white
				float right
				padding 0.5em
			
			.subtitle
				display block
				font-size 14px
			
			.suptitle
				color azul
				display block
				font-size 14px
				
			.title
				display block
				font-weight bold
			
	.seq
		color verdegt
		display block
		font-size 1.5em
		font-weight bold
		margin-bottom 0.5em
		
.form-inline
	display block
	font-size 0
	margin 15px 0 0
	
	input[type="text"]
		border 0
		display inline-block
		min-width 550px
		outline none
		padding 0.25em 1em
		
		&.min
			min-width 275px
		
	select
		border 1px solid gris
		border-radius( 4px )
		box-shadow ( 1px 1px 4px gris )
		padding 0.25em 1em
		
	.input-choose
		padding 0 !important
		
		input[type="text"]
			background lighten(gris, 60%)
			border-radius(0 0 0 0.75em)
			border-right 1px solid gris
			max-width 275px
			min-width 275px
			outline none
			padding 0.8em
			vertical-align top
			width 275px
			
		select
			margin 0.5em
		
	.input-choose, .input-field
		border-top 1px solid verdegt
		display block
		font-size 16px
		margin 0
		padding 0.5em 1em
		position relative
			
		input[type="text"] + span
			color gris
			left 0
			position absolute
			top 0.65em
			
		input[type="text"]:focus + span, input[type="text"]:hover + span
			color black
		
		.submit
			font-size 14px
			margin 0
			position absolute
			right 0
			text-transform uppercase
			top 0
			
	.input-options
		font-size 14px
		
		label
			cursor pointer
			display inline-block
			margin 0.5em 1em 0.5em 0
			
		.select
			margin 0.5em 1em 0.5em 0
			
	.input-search
		background-color white
		border 1px solid gris
		border-radius (1em)
		box-shadow ( 1px 1px 4px gris )
		font-size 14px
		padding 0.25em
		position relative
		
		.submit
			font-size 13px
			margin 0
			position absolute
			right 0
			text-transform uppercase
			top 0
		
	.submit
		background verdegt
		border none
		color white
		cursor pointer
		display inline-block
		font-size 16px
		padding 0.5em 1em
			
.keypad
	text-align center
	
	button
		background-color gris
		border 1px solid gris
		border-radius( 0.5em )
		box-shadow ( 1px 1px 4px gris )
		color black
		display inline-block
		font-size 16px
		font-weight bold
		margin 0.5em 0
		min-width 140px
		outline none
		padding 0.5em
		text-transform uppercase
		
		&:before
			content ""
			font-family "material"
			padding-right 0.5em
			
		&.big
			font-size 18px
			min-width 220px
		
	.cancel
		background-color rojo
		color white
		
		&:before
			content "\e314"
	
	.ok
		background-color verdegt
		color white
		
	.remove
		background-color rojo
		color white
		
		&:before
			content "\e15c"
		
	.reply
		background-color verdegt
		color white
		
		&:before
			content "\e15e"

	.submit
		background-color verdegt
		color white
		
		&:before
			content "\e5ca"
	
.listview
	.item
		border-bottom 1px solid gris
		padding 0.5em
		transition all 0.2s linear
		
		&:hover
			background-color lighten(gris, 75%)
			cursor pointer !important
		
		&:last-child
			border none
			
		&.add-item
			background-color white !important
			border none
			margin-bottom 0.5em
			
			button
				background white
				border 1px dashed azul
				border-radius( 0.5em )
				color azul
				cursor pointer
				display block
				font-weight bold
				padding 1em
				width 100%
				
				&:hover
					background rgba( gris, 0.25 )
				
				span
					font-size 1.5em
					margin-right 0.25em
					vertical-align top
		
		.subject
			display block
			font-weight bold
			font-size 18px
			margin-bottom 0.5em
			
	.pagination
		wrap()
		wrap("top")
		
		a
			color black
			text-decoration none !important
		
		.next, .prev
			col()
			col(1, 6)
			padding 1em 0
			text-align right
			
			span
				background azul
				border-radius( 0.25em )
				box-shadow( 0 0 6px gris )
				color white
				padding 0.5em
			
		.numbers
			col()
			col(4, 6)
			list-style none
			margin 0
			padding 0.5em 0
			text-align center
			
			li
				display inline-block
				line-height 1em
				margin 0 0.25em
				padding 0.5em
				width 1em
				
				&.active
					background azul
					border-radius( 0.25em )
					box-shadow( 0 0 6px gris )
					
					a
						color white
						
		.prev
			text-align left
	
.listview-blocks
	font-size 14px
	margin-top 1.5em
	
	.item
		background white
		box-shadow (2px 2px 6px gris)
		margin-bottom 1em
		padding 1em
		
		.date
			color darken(gris, 20%)
			display block
			margin-bottom 0.5em
		
		.subject
			display block
			font-weight bold
			font-size 18px
			margin-bottom 0.5em
			
.menu-list
	box-shadow (2px 2px 6px gris)
	list-style none
	margin 0
	padding 0
	
	li
		border-bottom 1px solid gris

		&:last-of-type
			border-bottom 0

		&.active
			a
				border-left 5px solid verdegt
				font-weight bold

		&.title
			background azul
			color white
			padding 1em

		a
			background-color white
			color black
			display block
			padding 1em
			text-decoration none

			&:hover
				font-weight bold
			
.priority-tag
	border-radius (1em)
	color white
	display inline-block
	font-size 12px
	padding 0.25em 0.75em
	
	&.block
		display block
	
	&.days
		&:after
			content " día(s) restantes"
			
		&.outtime
			&:after
				content " día(s) de retraso"
				
		&.today
			&:after
				content "días. Resolver hoy"
	
	&.inhurry
		background-color naranja
		
	&.left
		float left

	&.ontime
		background-color verdegt
		
	&.outtime
		background-color rojo
		
	&.square
		border-radius (0)
		font-size 14px
		margin-right 1em
		
	&.today
		background-color rojo

.profile
	background-color white
	box-shadow (2px 2px 6px gris)
	position relative
	
	&:before
		color azul
		content "\e853"
		font-family "material"
		font-size 72px
		left 50%
		line-height 1em
		margin 0 0 0 -0.5em
		position absolute
		top -0.75em
		width 1em
		
	h2
		border none
		color azul
		font-size 24px
		padding 0.5em
		
	.details
		list-style none
		margin 0 0 1em
		padding 1em 0
		
		li
			margin 0.25em 0
			
	.resume
		background lighten(azul, 92%)
		list-style none
		margin 0
		padding 0.5em
		
		li
			color darken(gris, 60%)
			display inline-block
			font-size 1.5em
			padding 0.25em 1em
			
			span
				display block
				margin-bottom 0.25em

.received
	color darken(gris, 50%)
	font-family "material"
	font-size 14px
	font-weight 400
	
	&:after
		content "\e5ca"
		letter-spacing -0.7em

.sweet-alert h2
	border-bottom none
	
.table-view
	border 0
	border-collapse collapse
	margin 1em 0
	padding 0
	width 100%
			
	tbody
			
		td
			padding 0.5em
			
			.index
				background-color azul
				border-radius (0.25em)
				color white
				display inline-block
				font-weight bold
				line-height 1em
				padding 0.25em
				text-align center
				width 2em
				
		tr:nth-child(even)
			background-color lighten(gris, 75%)
			
	thead
		
		th
			background-color lighten(azul, 95%)
			padding 0.5em
			text-transform uppercase

.viewed
	color lighten(azul, 50%)
	font-family "material"
	font-size 14px
	font-weight 400
	
	&:after
		content "\e5ca\e5ca"
		letter-spacing -0.7em
	
.wrapper
	wrap()
	wrap("top")
	height 100%
	padding-top 75px
	position relative
	
	.col_1_3
		col()
		col(1, 3)
		padding 1em
		
	.col_1_4
		col()
		col(1, 4)
		padding 1em
		
	.col_2_3
		col()
		col(2, 3)
		padding 1em
		
	.col_2_4
		col()
		col(2, 4)
		padding 1em
		
	.col_3_4
		col()
		col(3, 4)
		padding 1em
		
	.col_full
		col()
		col(1, 1)
		padding 1em
		
.wrapper_center
	wrap()
	wrap("center")
	padding-top 75px
	
	.col_1_3
		col()
		col(1, 3)
		padding 1em
		
	.col_1_4
		col()
		col(1, 4)
		padding 1em
		
	.col_2_3
		col()
		col(2, 3)
		padding 1em
		
	.col_2_4
		col()
		col(2, 4)
		padding 1em