vendor(prop, args)
	-webkit-{prop} args
	   -moz-{prop} args
	    -ms-{prop} args
	     -o-{prop} args
	        {prop} args

animation()
	vendor("animation", arguments)

border-radius()
	vendor("border-radius", arguments)

box-shadow()
	vendor("box-shadow", arguments)

text-shadow()
	vendor("text-shadow", arguments)

transition()
	vendor("transition", arguments)

transform()
	vendor("transform", arguments)

transform-origin()
	vendor("transform-origin", arguments)

user-select()
	vendor("user-select", arguments)

background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval, deprecatedWebkitStartPoint = false, deprecatedWebkitEndPoint = false)
	background-color startColor
	if deprecatedWebkitStartPoint && deprecatedWebkitEndPoint
		background-image -webkit-gradient(linear, deprecatedWebkitStartPoint, deprecatedWebkitEndPoint, color-stop(startInterval, startColor), color-stop(endInterval, endColor))
	background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)

@keyframes hideTop
	from
		margin-top 0px
		opacity 1
	to
		margin-top -25px
		opacity 0
	
@keyframes showLeft
	from
		left -100px
		opacity 0
	to
		left 0px
		opacity 1
		
@keyframes showTop
	from
		margin-top -25px
		opacity 0
	to
		margin-top 0px
		opacity 1