@import "flexiblegs-stylus"
@import "kevintech"

azul 	= #02518F
gris 	= #D8D8D8
verde 	= #25C719
verdegt = #4D8C40

body
	wrap()
	wrap("gutter", 24)
	font-family "Quicksand"
	font-size 0
	height 100%
	margin 0
	padding 0
	width 100%
	
html
	height 100%
	width 100%
	
#login
	col()
	col(3,12)
	background white
	height 100%
	
	form
		col()
		font-size 16px
		
		.buttons
			text-align center
			margin 2.5em 0 0.5em
			
			.link
				border-bottom 1px solid white
				display inline-block
				padding 0.25em
				transition all 0.15s ease-in-out
				
				&:hover
					border-bottom 1px solid azul
		
		.checkbox
			cursor pointer
			display none

			& + label
				cursor pointer
				display block
				line-height 20px
				margin 1.5em 0.75em
				text-align left
				transition all 0.3s ease-in-out

				&::before
					background gris
					border-radius 50%
					color darken(gris, 30%)
					content "\e5ca"
					display inline-block
					font-family "material"
					font-size 14px
					height 1em
					margin-right 10px
					padding 1px 4px 7px 4px
					text-shadow(1px 1px 4px rgba(black, 0))
					transition all 0.3s ease-in-out
					vertical-align middle
					width 1em

			&:checked + label, & + label:hover
				text-decoration none

			&:checked + label::before
				background verde
				border-color white
				color white
				text-shadow(1px 1px 4px rgba(black, 0.5))
				transition all 0.3s ease-in-out
		
		.link
			color azul
			font-weight bold
			text-decoration none
		
		.ok
			background azul
			border 0
			border-radius(1.5em)
			color white
			cursor pointer
			outline none
			padding 1em 2em
			margin 1em
			text-transform uppercase
			transition all 0.15s ease-in-out
			
			&:active,&:focus,&:hover
				background verde
			
		.textbox
			border 0
			border-bottom 2px solid gris
			font-size 16px
			margin 0.5em 1em
			min-width 75%
			outline none
			padding 0.5em
			
		.welcome
			text-align center
			font-size 20px
			padding 3em 15%
			
			span
				display block
				
				&.icon
					font-size 48px
					margin 0.5em
	
	.wrap
		wrap()
		wrap("flexbox")
		wrap("middle")
		wrap("outside", 24)
	
#wrapper
	col()
	col(9,12)
	background url("/img/background-04.jpg") center no-repeat
	background-size cover
	box-shadow( 0 0 300px 0 black inset)
	height 100%
	position relative
	
	&:after
		background rgba(black, 0.3)
		content "overlay"
		font-size 0
		height 100%
		left 0
		position absolute
		top 0
		width 100%
		
	footer
		bottom 1em
		color white
		font-size 12px
		left 0
		position absolute
		text-align center
		width 100%
	
	header
		col()
		col(12,12);
		padding 2em 4em
		text-align right
		z-index 1
		
		a
			color white
			padding 0.5em 1em
			text-decoration none
			text-transform uppercase
			
			&.button
				background verdegt
				border-radius( 1em )
				color white
				cursor pointer
				padding 0.5em 1em
				text-decoration none
		
	.headline
		col()
		col(12,12);
		color white
		text-align center
		padding 18% 15%
		z-index 2
		
		.icon
			background azul
			border-radius(100%)
			display inline-block
			font-size 48px
			padding 0.35em
			text-shadow( 2px 2px 6px rgba(black, 0.25) )
			
		.message
			display block
			font-size 28px
			padding 1em 4em
			text-shadow( 1px 1px 2px rgba(black,0.5) )
	
	.wrap
		wrap()
		wrap("flexbox")
		wrap("middle")